* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 25px;
  font-size: 3em;
  text-shadow: 2px 2px 1px grey;
}

figure {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 2s;
}

img {
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 5px 5px 4px grey;
}

.slideshow {
  padding: 25px 0;
  background-color: #265973;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
}

figure.show {
  opacity: 1;
  position: static;
  transition: 2s;
}

.next, .back {
  color: white;
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 2em;
  background-color: darkgrey;
  opacity: .75;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 2px grey;
}
.next:hover, .back:hover {
  cursor: pointer;
  opacity: 1;
}

.next {
  right: 15px;
}

.back {
  left: 15px;
}
